
<body background="uploads/fondoindex.jpg">

<nav>
    <div class="nav-wrapper  grey darken-4">
      <a href="/" class="brand-logo center ">FOOD&WINE</a>
</nav>

<div class="row">
  <div class="col l4"></div>
<div class="col s12 m6 l4 xl4">


    <div class="card-content transparent">
<form class="login"action="/login" method="POST">
  <div class="field">
    <label for="username"><h5>username:</h5></label><br>
    <input class="grey-text text-lighten-5" type="text" name="username">
  </div><br>
  <div class="field">
    <label for="password"><h5>password:</h5></label><br>
    <input class="grey-text text-lighten-5" type="password" name="password">
  </div><br>
  </div>
  <% if (typeof message != "undefined") { %>
  <div class="error-message">
    <%= message %>
  </div>
  <% } %>
  <div class="waves-effect transparent btn">
    <input type="submit" value="Log In">
  </div>
  <div class="check-login">
    <p class="grey-text text-lighten-5">
      You do not have an account?
      <a class="grey-text text-lighten-5" href="/signup">Create</a>
    </p>
  </div>
</form>
<div class="col l4"></div>
</div>
</div>
</div>
