Estoy en index

<% if(!user){ %>

  <li><a class="login"href="/signup">signup</a></li>
  <li><a class="login"href="/login"> login</a></li>

<% }else{ %>
  <li><a class="login"href="/logout">logout</a></li>

<% } %>
