<!DOCTYPE html>
<html>
<<<<<<< HEAD

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="javascript/APIHandler.js" charset="utf-8"></script>
  <script src="javascript/wines.js"></script>
</head>

<body>
  <nav>
    <a class="logo" href="/">BASIC BOILDERPLATE INDEX</a>

    <% if(!user){ %>

      <li><a class="login" href="/signup">signup</a></li>
      <li><a class="login" href="/login"> login</a></li>

      <% }else{ %>
        <li><a class="login" href="/logout">logout</a></li>

        <% } %>
  </nav>
=======
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav style="background-color: coral">
      <a class="logo" href="/">FOOD&WINE</a>


    </nav>
>>>>>>> 8b834f0b4fa946e4471ef41b6711e7e71eb60143

    <%- body -%>
</body>
</html>
