<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascript/APIHandler.js" charset="utf-8"></script>
  <script src="/javascript/recipeAPIHandler.js" charset="utf-8"></script>
  <script src="/javascript/wines.js"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <nav>
    <a class="logo" href="/">BASIC BOILDERPLATE INDEX</a>

    <% if(!user){ %>

      <li><a class="login" href="/signup">signup</a></li>
      <li><a class="login" href="/login"> login</a></li>

      <% }else{ %>
        <li><a class="login" href="/logout">logout</a></li>

        <% } %>
  </nav>

    <%- body -%>
</body>
</html>
