<form action="/recipe" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="avatar">Avatar</label>
  <input type="text" name="avatar" id="avatar">

  <label for="type">Type</label>
  <input type="text" name="type" id="type">

  <label for="description">Description</label>
  <input type="text" name="description" id="description">

  <label for="ingredient">Ingredient</label>
  <textarea type="text" name="ingredient" id="ingredient"></textarea>

  <button type="submit">Create Product</button>
</form>
<a href="/">Go to product list</a>
