<h1> <%= beverage %> </h1>

<!-- <div class="wine-container">
  <div class="wine-info">
    <div class="name">name</div>
    <div class="origin">Origin Country</div>
    <div class="serving_suggestion">serving suggestion</div>
    <div class="tasting_note">tasting note</div>
    <div class="varietal">varietal</div>
  </div>
</div> -->

<div id="wine-container"></div>

<div class="operation">
  <button id="search">Search</button>
</div>
