
body{
  background-size: cover;
  background-image: url(../uploads/fondoindex.jpg);
  height: 100%
  background-repeat: no-repeat
}

.title-index{
  padding-top: 5%
}

.container{
  padding-top: 5%
}

.logout{
  padding-right: 3%
}

.btn-maridar{
  border-radius: 10%
}

.login{
  padding-top: 40%
}
















/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

#fondo{
  background-image: url(../public/images/fondoindex.jpg);
  height: 100%
}

a {
  color: #00B7FF;
}

p { color: #F90B6D;
  font-family: 'Muli', sans-serif;
  font-weight: bold;

}


}

img {
position: relative;
width: 200px;
height: 200px;
margin:auto;

}*/
