
















/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

#fondo{
  background-image: url(../public/images/fondoindex.jpg);
  height: 100%
}

a {
  color: #00B7FF;
}

p { color: #F90B6D;
  font-family: 'Muli', sans-serif;
  font-weight: bold;

}


}

img {
position: relative;
width: 200px;
height: 200px;
margin:auto;

}*/
